{% extends 'base2.html' %}
{% load markdown_extras %}


{% block content %}
  {% for post in post_list %}
      <div class="post-preview">
        <a href="{% url 'post_detail' post.slug %}">
            <h2 class="post-title">{{post.title}}</h2>
            <p class="post-subtitle">
              {{post.content|slice:":200"| convert_markdown |safe}}</p>
        </a>
        <p class="post-meta">
            Posted by {{post.author}} | {{post.created_at}}
        </p>
      </div>
  {% endfor %}
  
{% endblock %}



